openapi: 3.1.0
info:
  title: Microsoft Graph Excel Charts Range API
  description: 'REST API for reading and writing Excel workbooks stored in OneDrive for

    Business, SharePoint, or a group drive via Microsoft Graph. Supports

    worksheet, table, chart, range, and named-item operations on .xlsx

    workbooks. All requests require an OAuth 2.0 bearer token from the

    Microsoft identity platform; use Files.Read for read operations and

    Files.ReadWrite for write operations. Optional workbook-session-id

    header enables persistent or non-persistent session modes.

    '
  version: v1.0
  contact:
    name: Microsoft Graph Support
    email: graphsdksupport@microsoft.com
  license:
    name: Microsoft Terms of Use
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0
security:
- oauth2:
  - Files.ReadWrite
tags:
- name: Range
  description: Range cell operations
paths:
  /me/drive/items/{item-id}/workbook/worksheets/{worksheet-id}/range(address='{address}'):
    get:
      tags:
      - Range
      summary: Get a range
      operationId: range_get
      parameters:
      - $ref: '#/components/parameters/itemId'
      - $ref: '#/components/parameters/worksheetId'
      - name: address
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/sessionId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Range'
    patch:
      tags:
      - Range
      summary: Update range values
      operationId: range_update
      parameters:
      - $ref: '#/components/parameters/itemId'
      - $ref: '#/components/parameters/worksheetId'
      - name: address
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/sessionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                values:
                  type: array
                  items:
                    type: array
                    items: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    Range:
      type: object
      properties:
        address:
          type: string
        addressLocal:
          type: string
        cellCount:
          type: integer
        columnCount:
          type: integer
        rowCount:
          type: integer
        columnIndex:
          type: integer
        rowIndex:
          type: integer
        formulas:
          type: array
          items:
            type: array
            items: {}
        values:
          type: array
          items:
            type: array
            items: {}
        text:
          type: array
          items:
            type: array
            items:
              type: string
        numberFormat:
          type: array
          items:
            type: array
            items:
              type: string
        valueTypes:
          type: array
          items:
            type: array
            items:
              type: string
  parameters:
    sessionId:
      name: workbook-session-id
      in: header
      required: false
      description: Optional session id from createSession to enable persistent or non-persistent session mode
      schema:
        type: string
    worksheetId:
      name: worksheet-id
      in: path
      required: true
      schema:
        type: string
    itemId:
      name: item-id
      in: path
      required: true
      description: DriveItem ID of the .xlsx workbook
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Entra ID OAuth 2.0
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            Files.Read: Read user files
            Files.ReadWrite: Read and write user files
            Sites.Read.All: Read items in all site collections
            Sites.ReadWrite.All: Read and write items in all site collections
